<div class="flex flex-col w-full items-center">
    <shared-custom-header title="R e g i s t e r" />
  
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4 w-full"
    >
      @for (item of registerElements(); track $index) {
  
      <div class="flex flex-col w-full">
        <label class="capitalize font-[Markin-LT]">{{ item }}</label>
        <input
          class="font-[Markin-LT] bg-secundary border-2 focus:no-underline"
          [formControlName]="item"
          [type]="item === 'confirm password' ? 'password' : item"
        />
        <span *ngIf="isValidField(item)" class="font-[Markin-LT] text-[red]" >
          {{ isValidField(item) }}
        </span>
      </div>
  
      }
  
      <button
        class="font-[ExposeRegular] name text-4xl hover:scale-105 active:scale-95 transition-all"
      >
        Join the phantom thieves
      </button>
    </form>
  
    <a (click)="goToLogin()" class="hover:underline cursor-pointer mt-3">You already have an account?</a>

  </div>
  
