@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PersonaFont';
  src: url('./assets/fonts/p5hatty-1.ttf');
}

@font-face {
  font-family: 'ExposeRegular';
  src: url('./assets/fonts/Expose-Regular.otf');
}

@font-face {
  font-family: 'Markin-LT';
  src: url('./assets/fonts/Markin-LT-Ultra-Bold.ttf');
}

*{
  color: white;
  font-family: 'PersonaFont';
  padding: 0;
  margin: 0;
}

.testin{
  clip-path: polygon(29% 0, 92% 0, 97% 100%, 0% 100%);

}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}



::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.name {
  text-shadow: 3px 3px 0 #000, -3px 3px 0 #000, -3px -3px 0 #000,
    3px -3px 0 #000;
}
