<div class="flex justify-center items-center h-screen bg-primary">
  <div class="bg-[white] w-[300px] h-[500px] p-4">

    <div
      #P5body
      
      [ngStyle]="{
        'border-bottom-width': (P5body.offsetHeight + 'px').toString(),
      }"
      [ngClass]="[
        'h-full w-full text-[24px] bg-customYellow border-b-secundary border-r-[25px] border-l-transparent border-l-[25px] border-solid'
      ]"
    >
    {{ P5body.offsetHeight + 'px' }}
      hola
    </div>
    
  </div>
</div>
