<div class="h-screen bg-primary flex items-center justify-center" >

    <div class=" p-2">

      <div class="relative">
        <div class="relative" >
          <h1 class="text-4xl font-[ExposeRegular] text-primary name  absolute z-20" #title> L o g i n </h1>
          <h1 class="text-4xl font-[ExposeRegular] text-[white] relative z-20 testin " #title> L o g i n </h1>
        </div>
        <div class="relative z-30 backdrop-filter" >
          <div class="absolute z-5 w-20 h-10 bg-tertiary opacity-0 -top-10 grayscale " #thediv>

          </div>
        </div>
      </div>


    </div>

</div>


